@import "tailwindcss";

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .scroll::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }

  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
  }

  .scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(31, 31, 31);
  }

  .scroll::-webkit-scrollbar-button {
    display: none;
  }
}